html {
	min-height: 100svh;
	font-size: 16px;

	body {
		min-height: 100svh;
		position: relative;
		margin: 0;
		overflow-x: hidden;

		#__nuxt {
			min-height: 100svh;
			display: flex;
			justify-content: center;
			align-items: center;

			.wrapper {
				padding: 2rem 1rem;
				min-height: 100svh;
				width: 100%;
				max-width: 80rem;
			}
		}

		h1, p {
			margin: 0;
		}
	}
}
